<div class="home-banner">
  <h1>Trouvez votre cours de Sport nautique</h1>
   <%= render 'shared/search_home' %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
